.home {
    --bd-light-purple: #C0BEDB;
    --bd-purple: #63569E;
    --bd-saturated-purple: #8578FF;
    --bd-green: #69994F;
    --bd-light-green: #A5BC9A;
    --bd-saturated-green: #AAFF6D;
    --bd-warm-gray: #383734;
    --bd-light-purple-rgb: 192,190,219;
    --bd-purple-rgb: 99,86,158;
    --bd-saturated-purple-rgb: 133,120,255;
    --bd-green-rgb: 105,153,79;
    --bd-light-green-rgb: 165,188,154;
    --bd-saturated-green-rgb: 170,255,109;
    --bd-warm-gray-rgb: 56,55,52;

    .bd-masthead {
        padding: 3rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.3), rgba(var(--bs-body-bg-rgb), 1) 75%),radial-gradient(300px at center, rgba(var(--bs-body-bg-rgb), 1), transparent 100%),radial-gradient(ellipse at top left, rgba(var(--bd-saturated-green-rgb), 1), transparent 60%),radial-gradient(ellipse at top right, rgba(var(--bd-saturated-purple-rgb), 1), transparent 40%),radial-gradient(ellipse at center right, rgba(var(--bs-body-bg-rgb), 1), transparent 60%),radial-gradient(ellipse at center left, rgba(var(--bd-saturated-green-rgb), 1), transparent 20%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-green);
        --bs-btn-border-color: var(--bd-green);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: var(--bd-light-green);
        --bs-btn-hover-border-color: var(--bd-light-green);
        --bs-btn-focus-shadow-rgb: var(--bd-light-green-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: var(--bd-light-green);
        --bs-btn-active-border-color: var(--bd-light-green);
    }
}

.navbar {
    @extend .navbar-dark;

    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-warm-gray-rgb), 1), rgba(var(--bd-warm-gray-rgb), 1));
    // box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-violet {
    color: #605C90;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
