<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/font-stealer.svg` }}" width="150" height="150">
        <h2 class="h2">Font Stealer</h2>
        <p><b>Quickly snatch font styles from any website!</b><br>Save time by effortlessly identifying exact font family, weight, size, letter spacing, and more.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/css-snipper.svg` }}" width="150" height="150">
        <h2 class="h2">CSS Snipper</h2>
        <p><b>Capture and export CSS snippets in a snap!</b><br>Streamline your development workflow by collecting CSS code blocks from web page elements with a single click.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/color-picker.svg` }}" width="150" height="150">

        <h2 class="h2">Color Picker</h2>
        <p><b>Grab website colors effortlessly!</b><br>Replicate effective color schemes from inspiration websites as you browse.</p>
    </div>
</div>

<div style="padding-top: 20px; padding-bottom: 20px;"></div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Share Collected Styles</h2>
        <p><b>Create shared inspiration boards!</b><br>Maintain design consistency with your team by using shared design boards with the styles you collect.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Check for Accessibility</h2>
        <p><b>Ensure inclusivity and accessibility on the web!</b><br>StyleThief's Accessibility Checker helps you evaluate font readability, keyboard navigation, color contrast, and more from collected styles. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Use Directly from Browser<small class="d-none">🧰</small></h2>
        <p><b>Optimize your workflow with direct browser access!</b><br>Say goodbye to desktop app downloads and window-switching hassles. Access StyleThief from the same window as you surf the web.</p>
    </div>
</div>
